div {
    div {
        display: flex;
    }

    .session {
        width: 200px;
        overflow: auto;
        position: fixed;
        left: 0;
    }

    .talking {
        flex: 1;
        overflow: auto;
        margin-left: 220px; // Add this line to move .talking to the right side
    }
}
